# Groq API
GROQ_API_KEY=gsk_your_key_here
GROQ_BASE_URL=https://api.groq.com/openai/v1
GROQ_MODEL=llama-3.3-70b-versatile

# Telegram
TELEGRAM_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here

# Webhook n8n
WEBHOOK_URL=http://tu_direccion_ip/webhook/cowrie-session
WEBHOOK_TOKEN=your_secret_token_here

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=databasecve
POSTGRES_USER=databasecveuser
POSTGRES_PASSWORD=your_password_here
